/* About us */
/* header-seo */
.header-about {
    margin: 120px 0px 150px 0px;
    @include tablet {
        margin: 100px 0px 100px 0px;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        span {
            color: $accent;
        }
        @include tablet {
            text-align: left;
        }
        @include phone {
            margin-bottom: 32px;
            font-size: 24px;
        }
    }
    &__button {
        width: 100%;
        &::before {
            left: 60%;
            @include tablet-min {
                left: 70%;
            }
        }
    }
}

/* about-slider */
.about-slider {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 700;
        @include phone {
            margin-bottom: 60px;
            font-size: 36px;
        }
    }
}

/* about-features */
.about-features {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include tablet {
            flex-direction: column;
            gap: 65px;
        }
    }
    &__content {
        max-width: 488px;
        @include tablet {
            max-width: 100%;
        }
    }
    &__text {
        &:nth-child(2) {
            margin: 32px 0px 40px 0px;
            @include phone {
                margin: 16px 0px 32px 0px;
            }
        }
        @include phone {
            font-size: 16px;
        }
    }
    &__image {
        width: 100%;
        max-width: 718px;
        height: auto;
    }
}

/* about-benefits */
.about-benefits {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 40px;
        text-transform: none;
        @include phone {
            margin-bottom: 60px;
        }
    }
    &__inner {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
        }
    }
    &__item {
        padding: 32px 24px;
        width: 100%;
        display: flex;
        gap: 16px;
        border-radius: 32px;
        background: #303030;
        
    }
    &__image {
        width: 32px;
        height: 32px;
    }
    &__content {
        font-weight: 400;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
        }
    }
    &__text {
        max-width: 596px;
        @include tablet {
            max-width: 100%;
        }
    }
    &__button {
        width: 384px;
        @include phone {
            width: 100%;
        }
    }
}