/* Line Animation */
.line-animation {
  display: inline-block;
    &-wrap {
      position: relative;
      display: inline-block;
    }
    &-inner {
      position: absolute;
      left: 0;
      top: 100%;
      height: auto;
    }
    &-inner--header {
      left: 44%;
      top: 93%;
      @include desktop-min {
        left: 30px;
      }
      @include phone {
        left: 0;
        svg {
          max-width: 280px;
        }
      }
    }
    &--svg {
      width: 100%;
      height: auto;
    }
    &--path {
      fill: none;
      stroke: #baff4a;
      stroke-dasharray: 2200;
      stroke-dashoffset: 2200;
    }
  }
  
  .animate {
    animation: line-draw 8s linear forwards;
  }
  
  @keyframes line-draw {
    to {
      stroke-dashoffset: 0;
    }
  }