/* About */
.about {
    margin: 30px 0px 150px 0px;
    @include tablet {
        margin: 30px 0px 100px 0px;
    }
    &__inner {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        @include tablet {
            flex-direction: column;
            gap: 106px;
        }
        @include phone {
            margin-bottom: 32px;
        }
    }
    &__text {
        max-width: 600px;
        @include phone {
            font-size: 16px;
        }
    }
    &__swiper-slide {
        padding: 54px 20px 47px 52px;
        width: 100%;
        max-width: 279px;
        border-radius: 32px;
        border: 2px solid $accent;
    }
    &__item-text {
        font-size: 68px;
        -webkit-text-stroke: 1px $accent;
        color: transparent;
        text-transform: uppercase;
    }
}

/* Cards */
.cards {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__inner {
        margin-top: 106px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 32px;
    }
    &__item {
        display: block;
        padding: 50px 40px 50px 48px;
        width: 100%;
        border-radius: 32px;
        background: #303030;
        border: 1px solid transparent;
        transition: all 0.3s ease-in;
        &:hover {
            border: 1px solid $accent;
        }
        &:hover .cards__item-text::before {
            opacity: 1;
        }
        @include phone {
            padding: 32px 24px;
        }
    }
    &__item-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__item-text {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: $text-color;
        &::before {
            position: absolute;
            content: url("@img/icons/line-hover.svg");
            opacity: 0;
            top: 100%;
            left: 0;
            transition: all 0.2s ease-in;
        }
    }
}

/* Meta */
.meta {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__indent {
        margin-bottom: 74px;
    }
}
/* Projects */
.our-projects {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        @include tablet {
            flex-direction: column;
            gap: 106px;
        }
    }
    &__text {
        max-width: 600px;
        @include phone {
            font-size: 16px;
        }
    }
    &__button-wrapper {
        margin: 32px 0px 60px 0px;
        text-align: right;
        @include tablet {
            text-align: left;
        }
        @include phone {
            margin: 24px 0px 32px 0px;
        }
    }
}

/* Fedback */
.fedback {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__inner {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        @include tablet {
            flex-direction: column;
            gap: 106px;
        }
        @include phone {
            margin-bottom: 32px;
        }
    }
    &__text {
        max-width: 600px;
        @include phone {
            font-size: 16px;
        }
    }
    &__swiper-slide {
        padding: 40px 24px;
        width: 100%;
        border-radius: 24px;
        background: #303030;
        @include phone {
            padding: 32px 24px;
            max-width: 280px;
        }
    }
    &__wrapper {
        margin-bottom: 29px;
        display: flex;
        align-items: center;
        gap: 24px;
        @include phone {
            gap: 8px;
        }
    }
    &__image {
        width: 77px;
        height: 77px;
        border-radius: 77px;
        @include phone {
            width: 55px;
            height: 55px;
        }
    }
    &__name {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 1.3;
        color: #ffffff;
        @include phone {
            font-size: 20px;
            margin-bottom: 4px;
        }
    }
    &__work {
        line-height: 1.5;
        color: #818181;
        @include phone {
            font-size: 14px;
        }
    }
    &__content {
        line-height: 1.5;
        color: $text-color-2;
        @include phone {
            font-size: 16px;
        }
    }
}

/* Contact-us */
.contact-us {
    &__wrapper {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        @include desktop-min {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
        @include phone {
            margin-top: 106px;
        }
    }
    &__form-title {
        font-size: 48px;
        font-weight: 700;
        max-width: 592px;
        text-transform: uppercase;
        span {
            color: $accent;
        }
        @include phone {
            font-size: 36px;
        }
    }
}