/* Burger */
.burger {
    position: static;
    top: 0;
    left: 0;
    z-index: 20;
    @include tablet {
        position: fixed;
        padding: 10px 0;
        width: 100%;
        background-color: $bg;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 32px;
    }
    &__logo {
        z-index: 5;
    }
    &__logo-img {
        width: 96px;
        height: 96px;
        @include tablet {
            width: 56px;
            height: 56px;
        }
    }
}
.menu {
    &__icon {
        display: none;
        @include tablet {
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            z-index: 5;
            span,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: $accent;
            }
            &::before,
            &::after {
                content: "";
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
                background-color: #D4D4D4;
            }
            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
                background-color: #D4D4D4;
            }
        }
    }
    &__body {
        z-index: 4;
        @include tablet {
            position: fixed;
            padding: 100px 24px 34px 20px;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #303030;
            transition: left 0.3s ease 0s;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
                background-color: #303030;
            }
            &._active {
                left: 0;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 20px;
        @include tablet {
            height: 100%;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 24px;
        }
    }
    &__list > li {
        position: relative;
    }
    &__item {
        position: relative;
    }
    &__link {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        line-height: 1.2;
        transition: color 0.2s ease-in;
        &:hover {
            color: $accent;
        }
    }
    &__arrow {
        @include tablet {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 105%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background: url("@img/icons/arrow.svg") 50% 50% / cover no-repeat;
            }
        }
    }
    &__sub-list {
        position: absolute;
        top: 120%;
        right: -50px;
        min-width: 210px;
        border-radius: 5px;
        background-color: #303030;
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        z-index: 12;
        @include tablet {
            right: auto;
            left: 0;
            background-color: #111111;
        }
    }
    &__sub-list li {
        padding: 15px 20px;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: $accent;
        }
    }
    &__sub-list li:hover .menu__sub-link {
        color: #000000;
    }
    &__sub-link {
        display: block;
        font-size: 16px;
        color: $text-color;
        line-height: 1.2;
    }
    &__button {
        margin-left: 28px;
        padding: 10px 32px;
        font-weight: 500;
        border-radius: 24px;
        text-align: center;
        background-color: $accent;
        color: #000000;
        transition: all 0.2s ease-in;
        &:hover {
            background-color: $btn-hover;
        }
        @include tablet {
            margin: 40px 0px 0px 0px;
            width: 100%;
            border: 2px solid $accent;
            color: $accent;
            background-color: transparent;
        }
    }
    &__link--active{
        font-weight: 500;
        color: $accent;
    }
}

body .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}

/* Footer social icon */
.social {
    margin-top: auto !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 992px) {
        display: none !important;
    }
}
.social-link {
    position: relative;
    margin-left: 33px;
    font-size: 16px;
    line-height: 1.6;
    color: $text-color;
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -33px;
        transform: translate(0, -50%);
        width: 24px;
        height: 24px;
    }
}
.social-link--phone {
    &::after {
        background: url("@img/icons/phone.svg") 50% 50%/cover no-repeat;
    }
}
.social-link--map {
    &::after {
        background: url("@img/icons/map.svg") 50% 50%/cover no-repeat;
    }
}
.social-link--instagram {
    &::after {
        background: url("@img/icons/instagram.svg") 50% 50%/cover no-repeat;
    }
}