/* Projects Page */
/* header-projects */
.header-projects {
    margin: 55px 0px 100px 0px;
    @include tablet {
        margin: 90px 0px 100px 0px;
    }
    &__button {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.60);
        &::before {
            margin-right: 16px;
            content: url('@img/icons/arrow-back.svg');
        }
    }
    &__title {
        margin: 60px 0px;
        font-size: 68px;
        font-weight: 700;
        text-transform: uppercase;
        @include phone {
            margin: 24px 0px 32px 0px;
            font-size: 36px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        padding: 5px 20px;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        border-radius: 24px;
        color: $text-color-2;
        border: 1px solid $text-color-2;
        background-color: transparent;
    }
    &__inner {
        margin-top: 105px;
        display: flex;
        justify-content: flex-end;
        gap: 100px;
        @include phone {
            margin-top: 40px;
            flex-direction: column;
            gap: 24px;
        }
    }
    &__subtitle {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: $accent;
        @include phone {
            font-size: 24px;
        }
    }
    &__text {
        max-width: 696px;
        font-size: 16px;
        color: $text-color-2;
    }
}

/* header-projects */
.projects-visual {
    margin-bottom: 150px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__indent {
        margin-bottom: 106px;
    }
    &__swiper-slide {
        width: 100%;
        border-radius: 24px;
        background-color: #303030;
    }
}