/* Custom swiper settings */
.swiper {
    &__container {
        @include phone {
            padding: 0px 8px 0px 24px;
        }
    }
    &-slide {
        overflow: hidden;
    }
    &__progressbar {
        position: relative;
        width: 100%;
    }
    &-navigation {
        margin-top: 50px;
        position: relative;
    }
    &-navigation--disabled {
        @include phone {
            display: none;
        }
    }
    &-navigation-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
    }
    &-prev, &-next {
        cursor: pointer;
        background-color: transparent;
        z-index: 10;
    }
    &-pagination-progressbar.swiper-pagination-horizontal {
        width: 70% !important;
        height: 2px !important;
        left: 46% !important;
        top: 100% !important;
        transform: translate(-50%, -18px) !important;
        overflow: hidden !important;
        background-color: rgba(255, 255, 255, 0.30) !important;
        span {
            background-color: $accent !important;
        }
        @include phone {
            left: 0 !important;
            transform: translate(0, -18px) !important;
        }
    }
    &-pagination--disable {
        @include phone {
            display: none;
        }
    }
}